{% extends 'base.html' %}

{% block content %}

<center><img src="../static/perfectfit.png" width="200" height="200"></center>
<h5><center><i>matching people to their perfect job</i></center></h5>
<br>
<div class="card">
    <div class="card-body">
        <p>We know that so many job seekers and career changers may not know what career to pursue!
            In today's world, it seems like there is so much focus on "paper" qualifications. Maybe you
            already have a degree, or are just getting out of high school and are great at math, but you
            still do not know what to do for a career. Perhaps you have been told what you <i>should</i> do
            for a career, but haven't really considered what it is that you truly want. <br><br>

            That is where PerfectFit comes in. PerfectFit was founded on the belief that careers are a part of life,
            and in many ways, a part of <strong>you</strong>. We want to make sure that job seekers and career changers
            find jobs that will be their "perfect fit" -- but how? <br><br>

            Using a data-driven approach, PerfectFit has
            <a href="/">analyzed the way that a person's personality affects their satisfaction with certain career choices</a>.
            Specifically, the <a href="/types">Myers-Briggs personality types</a>
            were used to categorize the participants' personalities. The analysis answers the essential question,
            "What jobs are most satisfying for each personality type?"<br><br>

            We believe that it's not always about what you know, but who <strong>you</strong> are when it comes to
            finding the right job. We focus on matching careers to your individual
            personality. Therefore, we encourage you to <a href="/signup">make an account</a> and take our quiz.
            This quiz will determine your Myers-Briggs personality type and give you personalized advice for
            which jobs to consider pursuing. Your answers to the quiz questions are run through an algorithm that
            will find the most satisfying jobs <strong>specifically for you!</strong><br><br>

            </p>
    </div>
</div>

{% endblock %}