{% extends 'base.html' %}

{% block content %}
<center><h1>Myers-Briggs Type Indicator (MBTI)</h1></center>

<br>

<div><p><center>There are 16 Myers-Briggs personality types.<br>
  Each type consists of 4 distinct type indicators (MBTIs)<br><br>
</center></div>

<div class="container">
  <div class="row">


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/E_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>E</strong>xtroverted</h5>
        <p class="card-text">Extroverts are energized when interacting with other people. They enjoy social environments
                              and are good at multitasking. <br></p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/N_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">i<strong>N</strong>tuition</h5>
        <p class="card-text">Intuitive people focus on the big-picture, easily seeing patterns around them. They value
                              innovation and creativity.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/T_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>T</strong>hinking</h5>
        <p class="card-text">Thinkers make decisions by using logical analysis. They value honesty and consistency.
                              They may not consider feelings.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/J_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>J</strong>udging</h5>
        <p class="card-text">Judgers are people that tend to be organized and
                              prepared. They like making plans and executing their plan.</p>
        </div>
      </div>
    </div>


  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/I_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>I</strong>ntroverted</h5>
        <p class="card-text">Introverts prefer to work alone or in small groups. They value alone time and prefer to
                            work on one task at a time.<br></p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/S_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>S</strong>ensing</h5>
        <p class="card-text">Sensors are realistic people who focus on facts and details. They value common sense
                              and past experiences. <br></p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/F_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>F</strong>eeling</h5>
        <p class="card-text">Feelers are sensitive people that value cooperation. They make decisions based on their
                              personal feelings and the feelings of others.</p>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <div class="card" style="width: 15rem;">
      <img src="../static/P_MBTI_letter.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><strong>P</strong>erceiving</h5>
        <p class="card-text">Perceivers prefer to keep options open and do not feel the need to live life according
                               to plan. They are able to act spontaneously and enjoy flexibility.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br>

<div class="row">
    <div class="col-md-8 mx-auto text-white bg-warning mb-3">
      <br><h3><center>The 16 Myers-Briggs Personality Types:</center></h3>
      <h6><center>(Click for more information about each type)</center></h6>
  <p><center>
    <a href="https://www.16personalities.com/isfp-personality" target="_blank">ISFP</a><br>
    <a href="https://www.16personalities.com/isfj-personality" target="_blank">ISFJ</a><br>
    <a href="https://www.16personalities.com/istp-personality" target="_blank">ISTP</a><br>
    <a href="https://www.16personalities.com/istj-personality" target="_blank">ISTJ</a><br>
    <a href="https://www.16personalities.com/infp-personality" target="_blank">INFP</a><br>
    <a href="https://www.16personalities.com/infj-personality" target="_blank">INFJ</a><br>
    <a href="https://www.16personalities.com/intp-personality" target="_blank">INTP</a><br>
    <a href="https://www.16personalities.com/intj-personality" target="_blank">INTJ</a><br>
    <a href="https://www.16personalities.com/esfp-personality" target="_blank">ESFP</a><br>
    <a href="https://www.16personalities.com/esfj-personality" target="_blank">ESFJ</a><br>
    <a href="https://www.16personalities.com/estp-personality" target="_blank">ESTP</a><br>
    <a href="https://www.16personalities.com/estj-personality" target="_blank">ESTJ</a><br>
    <a href="https://www.16personalities.com/enfp-personality" target="_blank">ENFP</a><br>
    <a href="https://www.16personalities.com/enfj-personality" target="_blank">ENFJ</a><br>
    <a href="https://www.16personalities.com/entp-personality" target="_blank">ENTP</a><br>
    <a href="https://www.16personalities.com/entj-personality" target="_blank">ENTJ</a><br>
      <br>
      </center></p>
    </div>
</div>
{% endblock %}